<!DOCTYPE html>
<html lang="en">
<head th:replace="~{customer/common/common :: html_head}"></head>

<body>
<!-- Preloader -->
<div th:replace="~{customer/common/common :: preLoader}"></div>
<!-- End Of Preloader -->

<!-- Main header -->
<header th:replace="~{customer/common/common :: header}"></header>
<!-- End of main header -->

<!-- Catagory menu -->
<div th:replace="~{customer/common/common :: catagory-menu}"></div>
<!-- End of Catagory menu -->

<!-- offcanvas menu-->
<th:block th:replace="~{customer/common/common :: offcanvas_menu}"></th:block>
<!-- End of offcanvas menu-->


    <!-- page title -->
    <section class="page-title-inner" data-bg-img='assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">My Account<span>Profile</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li class="active"><a href="#">Check Out</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->
    
    <!-- logout register wrap -->
    <section class="pt-30 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- dash board nav-->
                    <div class="dashboard-inner">
                        <nav>
                            <ul class="nav-list nav">
                                <li>
                                    <a class="dashboard-nav-item active" id="nav-dasboard" data-toggle="tab"  href="#dashboard"><span><img src="assets/img/icons/dashboard.svg" class="svg" alt=""></span>Dashboard</a>
                                </li>
                                <li>
                                    <a class="dashboard-nav-item" id="nav-order" data-toggle="tab"  href="#order"><span><img src="assets/img/icons/order.svg" class="svg" alt=""></span>Orders</a>
                                </li>
                                <li>
                                    <a class="dashboard-nav-item" id="nav-address" data-toggle="tab" href="#address"><span><img src="assets/img/icons/address.svg" class="svg" alt=""></span>Address</a>
                                </li>
                                <li>
                                    <a class="dashboard-nav-item" id='nav-adetails' data-toggle="tab" href="#adetails"><span><img src="assets/img/icons/account3.svg" class="svg" alt=""></span>Account Details</a>
                                </li>
                                <li>
                                    <a class="dashboard-nav-item" href="logout.html"><span><img src="assets/img/icons/logout.svg" class="svg" alt=""></span>Log Out</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End of dash board nav-->
                </div>
                <div class="col-lg-9">
                    <!-- dashboard content -->
                    <div class="deshboard-content-wrap">
                        <div class="tab-content dashboad-tab-content">
                            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby='nav-dasboard'>
                                <!-- dashboard info -->
                                <div class="dashboard-tab-info">
                                    <p>Hello Emily, <span>(not Emily? <a href="#">Log out</a>)</span></p>
                                    <p>From your account dashboard you can view your <a href="#">recent orders</a>, <a href="#">manage your shipping and billing<br>addresses</a>, and <a href="#">edit your password and account details.</a></p>
                                </div>
                                <!--End of dashboard info -->
                            </div>

                            <div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby='nav-order'>
                                <!-- dashboard order -->
                                <div class="dashboard-tab-order">
                                    <!-- dashboard order table -->
                                    <table class="dashboard-order-table">
                                        <tbody>
                                            <tr>
                                                <th>Order No</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr>
                                                <td>#24567</td>
                                                <td>20 August 2018</td>
                                                <td>Processing</td>
                                                <td>$458 .52 <span>(1 Items)</span></td>
                                                <td><a href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                                <td>#24567</td>
                                                <td>20 August 2018</td>
                                                <td>Processing</td>
                                                <td>$458 .52 <span>(1 Items)</span></td>
                                                <td><a href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                                <td>#24567</td>
                                                <td>20 August 2018</td>
                                                <td>Processing</td>
                                                <td>$458 .52 <span>(1 Items)</span></td>
                                                <td><a href="#">View Details</a></td>
                                            </tr>
                                            <tr>
                                                <td>#24567</td>
                                                <td>20 August 2018</td>
                                                <td>Processing</td>
                                                <td>$458 .52 <span>(1 Items)</span></td>
                                                <td><a href="#">View Details</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--End of dashboard order table -->
                                </div>
                                <!-- End of dashboard order -->
                            </div>

                            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby='nav-address'>
                                <!-- address -->
                                <div class="address-info">
                                    <p>The following addresses will be used on the checkout page by default.</p>
                                    <div class="address-info-inner clearfix">
                                        <!-- Billing Information -->
                                        <div class="billing-information">
                                            <h5>Billing Information</h5>
                                            <ul>
                                                <li>
                                                    4968  Carolina Avenue
                                                </li>
                                                <li>Westminster CO</li>
                                                <li>Colorado</li>
                                                <li>80030</li>
                                                <li>970-219-0067</li>
                                                <li>Australia</li>
                                                <li><a href="#">Edit</a></li>
                                            </ul>
                                        </div>
                                        <!-- End of Billing Information -->

                                        <!-- Shipping address -->
                                        <div class="shipping-address">
                                            <h5>Shipping address</h5>
                                            <ul>
                                                <li>
                                                    4968  Carolina Avenue
                                                </li>
                                                <li>Westminster CO</li>
                                                <li>Colorado</li>
                                                <li>80030</li>
                                                <li>970-219-0067</li>
                                                <li>Australia</li>
                                                <li><a href="#">Edit</a></li>
                                            </ul>
                                        </div>
                                        <!-- End of Shipping address -->
                                    </div>
                                </div>
                                <!-- End of address -->
                            </div>

                            <div class="tab-pane fade" id="adetails" role="tabpanel" aria-labelledby='nav-adetails'>
                                <!-- Account details-->
                                <div class="account-details">
                                    <form action="#" method="POST">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="theme-input-style" placeholder="First Name" required>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="theme-input-style" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="theme-input-style" placeholder="Desplay Name" required>
                                                <p>This will be how your name will be displayed in the account section and in reviews</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- password change -->
                                                <div class="passwrd-change-wrap">
                                                    <h5>Password Change</h5>
                                                    <input type="number" class="theme-input-style" placeholder="Current Password" required>
                                                    <input type="number" class="theme-input-style" placeholder="New Password" required>
                                                    <input type="number" class="theme-input-style" placeholder="Confirm Password" required>
                                                    <div class="password-change-btn">
                                                        <a href="#" class="go-shop-btn btn btn-fill-type">Submit</a>
                                                    </div>
                                                </div>
                                                <!-- End of password change -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- End of Account details -->
                            </div>
                        </div>
                    </div>
                    <!-- End of dashboard content -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of logout register wrap -->

   <!-- footer area -->
   <div th:replace="~{customer/common/common :: footer}"></div>
   <!-- End of footer area -->

    <!-- End of footer area -->
        
    <!-- back to top -->
        <div class="back-to-top">
            <a href="#">
                <div class="back-toop-tooltip"><span>Back To Top</span></div>
                <div class="top-array"></div>
                <div class="top-line"></div>
            </a>
        </div>
        <!-- back to top -->
    
        <!-- Modal quick view-->
        <div class="modal-quickview-container">
            <div class="quick-view-content-wrap">
                <div class="modal-window-overlay"></div>
                <div class="quick-view-content">
                    <div class="modal-window-close">
                        <img src="assets/img/icons/close-button.svg" class="svg" alt="">
                    </div> 
                    <div class="quick-view-content-inner">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <!-- Start shop product slider -->
                                <div class="shop-product-slider-wrap">
                                    <!-- Start shop slider top side -->
                                     <div class="swiper-container quick-product-gallery">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img class='' src="assets/img/shop/quick-view1.png" alt="" data-rjs="2" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img class='' src="assets/img/shop/quick-view2.png"  alt="" data-rjs="2" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img class='' src="assets/img/shop/quick-view3.png" alt="" data-rjs="2" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img class='' src="assets/img/shop/quick-view4.png" alt="" data-rjs="2" />
                                            </div>
                                        </div>
                                    </div>
                                     <!-- End of shop slider top side -->
                                    
                                    <!-- Start shop slider bottom side -->
                                    <div class="swiper-container quick-product-thumbs">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="assets/img/shop/details-nav1.png" data-rjs="2" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/img/shop/details-nav3.png" data-rjs="2" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/img/shop/details-nav4.png" data-rjs="2" alt="">
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/img/shop/details-nav5.png" data-rjs="2" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of shop slider bottom side -->
                                </div>
                                <!-- End of shop product slider -->
                            </div>
    
                            <div class="col-lg-5">
                                <!-- product details inner -->
                                <div class="product-details-inner">
                                    <!-- product info -->
                                    <div class="product-info">
                                        <div class="product-rating">
                                            <div class="star-rating">
                                                <span></span>
                                            </div>
                                        </div>
    
                                        <!-- product title -->
                                        <div class="product-title">
                                            <h2><a href="../product/product-details.html">Woven Throw Pillow</a></h2>
                                        </div>
                                        <!-- end of product title -->
    
                                         <div class="product-price"><h3 class="new-price">$25</h3><h5 class="old-price">$30.1</h5></div>
    
                                         <div class="product-description">
                                             <p>Ladyship it daughter securing procured or am moreover mr Put sir she exercise vicinity cheerful wondered.</p>
                                         </div>
    
                                        <!-- list product group -->
                                        <div class="list-product-group">
                                            <ul class="mb-0 list-unstyled">
                                                <li class="size-group group">
                                                    <span class="list-heading">size:</span>
                                                    <ul class="size-list mb-0 list-unstyled">
                                                        <li><a href="#" class="product-size"><span>L</span></a></li>
                                                        <li><a href="#" class="active product-size"><span>M</span></a></li>
                                                        <li><a href="#" class="product-size"><span>S</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="quantity-group group">
                                                    <span class="list-heading">quantity:</span>
                                                    <div class="product-quantity">
                                                        <span class="minus"><img src="assets/img/icons/minus.svg" class="svg" alt=""></span>
                                                        <input type="text" value="0" class="product-quantity-list product-size">
                                                        <span class="plus"><img src="assets/img/icons/plus.svg" class="svg" alt=""></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End of list product group -->
    
                                        <!-- product details btns -->
                                        <div class="product-details-btns">
                                            <div class="addto-bag-btn">
                                                <a href="#" class="btn btn-fill-type">
                                                    <span><img src="assets/img/icons/add-bag.svg" alt="" class="svg"></span><span class="d-none d-lg-block mr-0">Add To Cart</span>
                                                </a>
                                            </div>
                                             <div class="wish-btn">
                                                <a href="#" class="btn btn-fill-type">
                                                    <span class=""><img src="assets/img/icons/wishlist.svg" alt="" class="svg"></span><span class="d-none d-lg-block mr-0"></span>
                                                </a>
                                            </div>
                                            <div class="compare-btn">
                                                <a href="#" class="btn btn-fill-type">
                                                    <span><img src="assets/img/icons/compare.svg" alt="" class="svg"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- product details btns -->
    
                                        <!-- more detailes -->
                                        <div class="more-details-button">
                                            <a href="../product/product-details.html" class="btn btn-line roboto">More Details</a>
                                        </div>
                                        <!-- End of more detailes -->
    
                                        <!-- product mata -->
                                        <div class="product_meta item-product-meta-info">
                                            <span class="sku_wrapper">
                                                <label>
                                                    SKU:
                                                    <span>N/A</span>
                                                </label>
                                            </span>
                                            <span class="posted_in">
                                                <span class="meta-item-list">
                                                    <a href="#">accessories</a>,
                                                    <a href="#">fashion</a>,
                                                    <a href="#">summer</a>
                                                </span>
                                            </span>
                                        </div>
                                        <!-- End of product mata -->
                                    </div>
                                     <!-- End of product info -->
                                </div>
                                <!-- End of product details inner -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!--End of Modal quick view-->
    
        <!-- add add to cart notifacition -->
        <div class="modal-add-notifacition">
            <div class="add-notifacition-inner media align-items-center">
                <div class="add-noti-image">
                    <img src="assets/img/product/add-note.jpg" alt="">
                </div>
                <div class="add-noti-text media-body">
                    <span>Cat Eye Reading Glasses</span>
                    <p>Added To Your Cart Successfully!</p>
                </div>
            </div>
        </div>
        <!-- add add to cart notifacition -->
    
        <!-- add add to cart notifacition -->
        <div class="modal-wish-notifacition">
            <div class="wish-notifacition-inner media align-items-center">
                <div class="wish-noti-image">
                    <img src="assets/img/product/add-note.jpg" alt="">
                </div>
                <div class="wish-noti-text media-body">
                    <span>Cat Eye Reading Glasses</span>
                    <p>Added To Your Wish Successfully!</p>
                </div>
            </div>
        </div>
        <!-- add add to cart notifacition -->
    
        <!-- JS Files -->

   <!-- JS Files -->
   <th:block th:replace="~{customer/common/common :: script}"></th:block>
    
    </body>
    </html>