<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/common :: html_head('Đăng nhập')}"></head>

<body>
<!-- Preloader -->
<div th:replace="~{common/common :: preLoader}"></div>
<!-- End Of Preloader -->

<!-- Main header -->
<header th:replace="~{common/common :: header}"></header>
<!-- End of main header -->

<!-- Catagory menu -->
<div th:replace="~{common/common :: catagory-menu}"></div>
<!-- End of Catagory menu -->

<!-- offcanvas menu-->
<th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>
<!-- End of offcanvas menu-->

<!-- page title -->
<section class="page-title-inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- page title inner -->
                <div class="page-title-wrap">
                    <div class="page-title-heading"><h1 class="h2">Đăng nhập<span></span></h1></div>
                    <ul class="list-unstyled mb-0">
                        <li><a th:href="@{/}">home</a></li>
                        <li  class="active"><a th:href="@{/login}">Đăng nhập</a></li>
                    </ul>
                </div>
                <!-- End of page title inner -->
            </div>
        </div>
    </div>
</section>
<!-- End of page title -->

<!-- logout register wrap -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- login register -->
                <div class="login-register-wrap text-center main-log-regi">
                    <!-- login register nav -->
                    <div class="login-register-nav">
                        <nav class="nav lr-nav text-center">
                            <a id="nav-login-tab2" data-toggle="tab" class="active">Đăng nhập</a>
                            <a  th:href="@{/register}">Đăng ký</a>
                        </nav>
                    </div>
                    <!-- End of login register nav -->

                    <!-- login register content -->
                    <div class="login-register-content tab-content">
                        <div class="tab-pane fade show active" id="login2" role="tabpanel" aria-labelledby="nav-login-tab2">
                            <div class="primary-form parsley-validate">
                                <form th:action="@{/login}" method="post">
                                    <!-- Check for login error -->
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Tài khoản và mật khẩu không chính xác
                                        </div>
                                    </div>
                                    <!-- Check for logout -->
                                    <div th:if="${param.logout}">
                                        <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                            Bạn đã được đăng xuất.
                                        </div>
                                    </div>
                                    <div class="name-input input-field">
                                        <label>
                                            <img th:src="@{assets/img/icons/account3.svg}" class="svg" alt="">
                                        </label>
                                        <input type="email" name="email" placeholder='Email Address' class="theme-input-style" required>
                                    </div>

                                    <div class="password-input input-field " style="margin-bottom: 10px">
                                        <label>
                                            <img th:src="@{assets/img/icons/regi-icon.svg}" class="svg" alt="">
                                        </label>
                                        <input type="password" name="password" placeholder='password' class="theme-input-style" required>
                                    </div>
                                    <div class="remember-me-input  " style="text-align: start !important;">
                                        <label>Nhớ đăng nhập</label>
                                        <input type="checkbox" name="remember-me"  value="true"  style="vertical-align: middle;" >
                                    </div>

                                    <button type="submit" class="btn btn-fill-type " style="margin-bottom: 10px">Đăng nhập</button>
                                    <div class="forgot-password">
                                        <a th:href="@{/forgot_password}">Quên mật khẩu</a>
                                    </div>
                                    <div class="line-break">
                                        <span>Hoặc đăng nhập qua</span>
                                    </div>
                                    <div class="input-field setting-input-botton">
                                        <div class="google-login">
                                            <a th:href="@{/oauth2/authorization/google}" ><img th:src="@{https://bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg}" style="width: 150px; " ></a>
                                        </div>
                                        <div class="facebook-login">
                                            <a th:href="@{/oauth2/authorization/facebook}" ><img th:src="@{https://bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg}" style="width: 150px; "></a>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- End of login register content -->
                </div>
                <!-- End of login register -->
            </div>
            <!-- Modal -->
            <div th:replace="~{common/modal :: modal_error}"></div>
        </div>
    </div>
</section>
<!-- End of logout register wrap -->

<!-- footer area -->
<div th:replace="~{common/common :: footer}"></div>
<!-- End of footer area -->

<!-- back to top -->
<div class="back-to-top">
    <a href="#">
        <div class="back-toop-tooltip"><span>Back To Top</span></div>
        <div class="top-array"></div>
        <div class="top-line"></div>
    </a>
</div>

<!-- JS Files -->
<th:block th:replace="~{common/common :: script}"></th:block>

<script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }

    function checkEmailUnique(form) {
        var url = "[[@{/customers/check_unique_email}]]";
        var customerEmail = $("#email").val();
        var csrfValue = $("input[name='_csrf']").val();
        var params = { email: customerEmail, _csrf: csrfValue };

        $.post(url, params, function(response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicated") {
                $("#errorBody").text("Email này đã tồn tại: " + customerEmail);
                $('#errorModal').modal('show');

            } else {
                $("#errorBody").text("Không phản hồi từ máy chủ");
                $('#errorModal').modal('show');
            }
        });
        return false;
    }
</script>


</body>
</html>