<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/common :: html_head('register')}"></head>
<body>
<!-- Preloader -->
<div th:replace="~{common/common :: preLoader}"></div>

<!-- Main header -->
<header th:replace="~{common/common :: header}"></header>

<!-- Catagory menu -->
<div th:replace="~{common/common :: catagory-menu}"></div>

<!-- offcanvas menu-->
<th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>
<!-- page title -->
<section class="page-title-inner" th:data-bg-img='@{assets/img/page-titlebg.png}'>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- page title inner -->
                <div class="page-title-wrap">
                    <div class="page-title-heading"><h1 class="h2">Đăng ký<span></span></h1></div>
                    <ul class="list-unstyled mb-0">
                        <li><a href="index.html">home</a></li>
                        <li><a href="#">Đăng ký</a></li>

                    </ul>
                </div>
                <!-- End of page title inner -->
            </div>
        </div>
    </div>
</section>
<!-- End of page title -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="text-center">
                        <h2>Đăng ký khách hàng</h2>
                        <h4>Bạn đã đăng ký thành công với tư cách là khách hàng</h4>
                        <p>Vui lòng kiểm tra email để xác minh tài khoản của bạn</p>
                        <p><a th:href="@{/login}">Đăng nhập ngay</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer area -->
    <div th:replace="~{common/common :: footer}"></div>

        
    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span>Back To Top</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>

    <!-- JS Files -->
    <th:block th:replace="~{common/common :: script}"></th:block>

</body>
</html>