<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="content" th:remove="tag" >

    <div class="col-12 pb-3 ">
        <label  class="form-label">Tên sản phẩm</label>

        <th:block th:if="${isReadOnlyForSalesperson}">
            <input type="text" class="form-control"  th:field="*{name}" readonly="readonly">
        </th:block>

        <th:block th:unless="${isReadOnlyForSalesperson}">
            <input type="text" class="form-control"  th:field="*{name}" required minlength="3" maxlength="255">
        </th:block>
    </div>

    <div class="col-12 pb-3 ">
        <label  class="form-label">Bí danh</label>

        <th:block th:if="${isReadOnlyForSalesperson}">
            <input type="text" class="form-control" th:field="*{alias}"  readonly="readonly" >
        </th:block>

        <th:block th:unless="${isReadOnlyForSalesperson}">
            <input type="text" class="form-control" th:field="*{alias}"  placeholder="Mặc định là tên sản phẩm (dấu cách được thay thế bằng dấu gạch ngang)" >
        </th:block>
    </div>

    <div class="col-12 pb-3">
        <label class="form-label">Thương hiệu</label>

        <th:block th:unless="${isReadOnlyForSalesperson}">
            <select th:field="*{brand}" class="form-control" required>
                <option th:each="temp : ${listBrand}" th:value="${temp.id}" th:text="${temp.name}"   />
            </select>
        </th:block>

        <th:block th:if="${isReadOnlyForSalesperson}">
            <input type="text" class="form-control" th:value="${product.brand.name}" readonly />
        </th:block>

    </div>

    <div class="col-12 pb-3">
        <label class="form-label">Danh mục</label>

        <th:block th:if="${isReadOnlyForSalesperson}">
            <input type="text" class="form-control" th:value="${product.category.name}" readonly />
        </th:block>

        <th:block th:unless="${isReadOnlyForSalesperson}">
            <th:block th:if="${product.category != null}">
                <select th:field="*{category}" class="form-control">
                    <option th:each="temp : ${product.brand.categories}" th:value="${temp.id}" th:text="${temp.name}" required  />
                </select>
            </th:block>

            <th:block th:if="${product.category == null}">
                <select th:field="*{category}" class="form-control" required></select>
            </th:block>
        </th:block>
    </div>

    <div class="col-12 pb-3">
        <label class="form-label">Chọn một hoặc nhiều size</label>
        <select th:field="*{sizes}" class="form-control" multiple required>
            <option th:each="temp : ${listSize}" th:value="${temp.id}" th:text="${temp.name}" />
        </select>
    </div>

    <div class="col-12">
        <label class="col-sm-4 col-form-label">Các size được chọn:</label>
        <div class="col-sm-8">
            <div id="chosenSizes"></div>
        </div>
    </div>

    <div class="col-12 pb-3">
        <label class="form-label">Số lượng</label>
        <input type="number" class="form-control" th:field="*{productQuantity}"  >
    </div>

    <div class="col-12 pb-3 ">
        <label  class="form-label">Giá nhập</label>
        <input type="number" class="form-control" th:field="*{cost}"  >
    </div>

    <div class="col-12 pb-3 ">
        <label  class="form-label">Giá bán</label>
        <input type="number" class="form-control" th:field="*{price}"  >
    </div>

    <div class="col-12 pb-3 ">
        <label  class="form-label">Phần trăm giảm giá</label>
        <input type="number" class="form-control"  th:field="*{discountPercent}"  >
    </div>

    <div class="col-12 pb-3">
        <label class="form-label">Trạng thái</label>
        <input type="checkbox" th:field="*{enabled}" class="form-check-input" style="margin-left: 5px" />
    </div>
</div>
</body>
</html>