<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/common :: html_head('Products')}"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{common/common :: header}" ></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{common/common :: sidebar}" ></aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lý sản phẩm</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
                <li class="breadcrumb-item active"><a th:href="@{/admin/products}">[[${pageTitle}]]</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section admin-user">
        <div class="row">
            <!-- columns element-button -->
            <div class="col-lg-12 ol-sm-12 element-button ">
                <div class="row">
                    <div class="col-xl-12 element_container ">

                        <div class="search-bar" >
                            <form th:action="@{/admin/products/page/1}" class="search-form d-flex align-items-center" id="searchForm" >
                                <input type="hidden" name="sortField" th:value="${sortField}"/>
                                <input type="hidden" name="sortDir" th:value="${sortDir}"/>

                                <div class="search-categorie" >
                                    <select class="form-control" name="categoryId" id="dropdownCategory">
                                        <option value="0">Tất cả danh mục</option>
                                        <option th:each="temp : ${listCategories}"
                                                th:value="${temp.id}"
                                                th:selected="(${categoryId} == ${temp.id})"
                                                th:text="${temp.name}"
                                        />

                                    </select>
                                </div>

                                <input type="text" name="keyword" th:value="${keyword}" placeholder="Search" title="Enter search keyword" >
                                <button type="submit" title="Search"><i class="bi bi-search"></i></button>

                            </form>
                        </div>


                        <!-- End search bar-->

                        <div class="button-container">
                            <a class="btn btn-success" th:href="@{/admin/products/create}" sec:authorize="hasAnyAuthority('Admin', 'Editor')" title="Thêm">
                                <i class="bi bi-file-earmark-person"></i> Tạo mới
                            </a>
                        </div>

                    </div>
                </div>
            </div><!-- End columns element-button -->

            <div th:if="${message != null}" class=" alert alert-success text-center">
                [[${message}]]
            </div>

            <!-- columns table -->
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-wrapper">
                            <table class="table table-hover table-responsive ">
                                <thead>
                                <tr>
                                    <th th:replace="~{common/fragments :: column_link('id', ' Id')}"></th>

                                    <th scope="col">Image</th>

                                    <th th:replace="~{common/fragments :: column_link('name', ' Tên sả phẩm')}"></th>

                                    <th th:replace="~{common/fragments :: column_link('brand', ' Thương hiệu')}"></th>

                                    <th th:replace="~{common/fragments :: column_link('category', ' Danh mục')}"></th>

                                    <th sec:authorize="hasAnyAuthority('Admin', 'Editor')" scope="col">Trạng thái</th>

                                    <th scope="col">Khác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  th:each="product : ${listProduct}">

                                    <td scope="row" th:text="${product.id}"></td>

                                    <td >
                                        <span th:if="${product.mainImage == null}" class="bi bi-card-image" style="color: darkgrey;font-size: 50px"></span>
                                        <img th:if="${product.mainImage != null}" th:src="@{${product.mainImagePath}}" style="width: 100px; height:auto;" >
                                    </td>

                                    <td>
                                        <a title="Chi tiết sản phẩm" th:href="@{'/admin/products/detail/' + ${product.id}}" style="font-size: 15px; color: black">
                                            [[${product.name}]]
                                        </a>
                                    </td>

                                    <td th:text="${product.brand.name}"></td>

                                    <td th:text="${product.category.name}">

                                    <td sec:authorize="hasAnyAuthority('Admin', 'Editor')"
                                        th:replace="~{common/fragments :: status(${product.enabled}, '/admin/products/' + ${product.id})}" >
                                    </td>

                                    <td class="table-td-center">
                                        <a class="bi bi-file-earmark-text" th:href="@{'/admin/products/detail/' + ${product.id}}" style="font-size: 20px; color: #2dc26b"></a>

                                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                                            <a th:replace="~{common/fragments :: delete(${product.name},'sản phẩm', '/admin/products/delete/' + ${product.id})}" ></a>
                                        </th:block>

                                        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
                                            <a th:replace="~{common/fragments :: edit('/admin/products/edit/' + ${product.id}) }"></a>
                                        </th:block>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-center m-1" th:if="${totalItem > 0}">
                            <span>Tìm thấy  [[${startCount}]] to [[${endCount}]] of [[${totalItem}]]</span>
                        </div>

                        <div class="text-center m-1" th:unless="${totalItem > 0}">
                            <span >Không tìm thấy sản phẩm</span>
                        </div>

                        <div th:if="${totalPages > 1}">
                            <!-- Pagination with icons -->
                            <nav aria-label="Page navigation ">
                                <ul class="pagination justify-content-end" >

                                    <li th:class="${totalPages > 1  ? 'page-item' : 'page-item disabled'}">
                                        <a class="page-link" th:href="@{'/admin/products/page/'+ ${totalPages -1} +'?sortField='+${sortField} +'&sortDir=' +${sortDir} +${keyword != null ? '&keyword=' + keyword : ' '} }" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                                        th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <a class="page-link" th:href="@{'/admin/products/page/'+ ${i} +'?sortField='+${sortField} +'&sortDir=' +${sortDir} +${keyword != null ? '&keyword=' + keyword : ' '}}">[[${i}]]</a>
                                    </li>

                                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}" >
                                        <a class="page-link" th:href="@{'/admin/products/page/'+ ${currentPage + 1 }+'?sortField='+${sortField} +'&sortDir=' +${sortDir} +${keyword != null ? '&keyword=' + keyword : ' '}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>

                                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                        <a class="page-link" th:href="@{'/admin/products/page/'+ ${totalPages}+'?sortField='+${sortField} +'&sortDir=' +${sortDir}}" aria-label="Next">
                                            Last
                                        </a>
                                    </li>

                                </ul>
                            </nav><!-- End Pagination with icons -->
                        </div>
                        <!-- Modal -->
                        <div th:replace="~{common/fragments_modal :: modal_dialog}"></div>

                    </div>
                </div>

            </div><!-- End columns table-->
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="~{common/common :: footer}" ></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= JS ======= -->
<span th:replace="~{common/common :: js}"></span>

<script type="text/javascript">
    moduleURL = "[[@{/admin/products}]]";

    $(document).ready(function() {

        $("#dropdownCategory").on("change", function() {
            $("#searchForm").submit();
        });

    });

</script>

<script th:src="@{/js/common_form.js}"></script>


</body>

</html>