<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/common:: html_head('Login')}"></head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">

                  <span class="d-none d-lg-block">QT sneaker</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Đăng nhập tài khoản của bạn</h5>
                    <p class="text-center small">Nhập email và mật khẩu của bạn để đăng nhập</p>
                  </div>

                  <form th:action="@{/admin/login}" method="post" class="row g-3 needs-validation" novalidate>
                    <!-- Check for login error -->
                    <div th:if="${param.error}">
                      <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                        Tài khoản và mật khẩu không chính xác
                      </div>
                    </div>
                    <!-- Check for logout -->
                    <div th:if="${param.logout}">
                      <div class="alert alert-success col-xs-offset-1 col-xs-10">
                        Bạn đã được đăng xuất.
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <input type="email" name="email" class="form-control" id="yourEmail" required>
                        <div class="invalid-feedback">Vui lòng nhập email của bạn.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Vui lòng nhập mật khẩu!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember-me" id="rememberMe" value="true" >
                        <label class="form-check-label" for="rememberMe">Nhớ đăng nhập</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Đăng nhập</button>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= JS ======= -->
  <span th:replace="~{common/common :: js}"></span>

</body>

</html>