<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="modal_add_to_cart">
        <!-- add add to cart notifacition -->
        <div class="modal-add-notifacition">
            <div class="add-notifacition-inner media align-items-center">
                <div class="add-noti-image">
                    <img src="assets/img/product/add-note.jpg" alt="">
                </div>
                <div class="add-noti-text media-body">
                    <span>Cat Eye Reading Glasses</span>
                    <p>Added To Your Cart Successfully!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>