<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="content" th:remove="tag" >
    <form th:action="@{/admin/setting/save_general}" method="post" enctype="multipart/form-data">
        <div class="col-12 pb-3 ">
            <label  class="form-label">Tên trang web</label>
            <!--    key= SITE_NAME     -->
            <input type="text" class="form-control"
                   name="SITE_NAME"
                   th:value="${SITE_NAME}" required >
        </div>

        <div class="col-12 pb-3 ">
            <label  class="form-label">Copyright</label>
            <input type="text" class="form-control"
                   name="COPYRIGHT"
                   th:value="*{COPYRIGHT}" required  >
        </div>

        <div class="col-12 pb-3 ">
            <div><label class="form-label">Logo trang web</label></div>
            <div class="m-2">
                <img alt="Main image preview"   class="img-fluid"   style="width: 250px; height: auto; padding: 10px 0px;"
                     id="thumbnail"
                     th:src="@{${SITE_LOGO}}"   >
            </div>
            <div>
                <input type="file"  class="form-control"
                       accept="image/png, image/jpeg, image/webp"
                       name="fileImage" id="fileImage">
            </div>
        </div>

        <div class="col-12 pb-3">
            <label class="form-label">Tiền tệ</label>
            <select name="CURRENCY_ID"  class="form-control">
                <th:block   th:each="currency : ${listCurrencies}">
                    <option th:selected="(${currency.id} == ${CURRENCY_ID})"
                            th:value="${currency.id}"/>[[${currency}]]
                </th:block>
            </select>
        </div>

        <div class="col-12 pb-3">
            <label class="form-label">Ký hiệu tiền tệ</label>
            <select name="CURRENCY_SYMBOL_POSITION" class="form-control">
                <option value="Before price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'Before price')">
                    Trước giá
                </option>
                <option value="After price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'After price')">
                    Sau giá
                </option>
            </select>
        </div>

        <div class="col-12 pb-3">
            <label class="form-label">Dấu thập phân</label>
            <select name="DECIMAL_POINT_TYPE" class="form-control">
                <option value="POINT" th:selected="(${DECIMAL_POINT_TYPE} == 'POINT')">
                    Dấu ( . )
                </option>
                <option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE} == 'COMMA')">
                    Dấu ( , )
                </option>
            </select>
        </div>

        <div class="col-12 pb-3 ">
            <label  class="form-label">Chữ số thập phân</label>
            <select name="DECIMAL_DIGITS" class="form-control">
                <option value="0" th:selected="(${DECIMAL_DIGITS} == 0)">0</option>
                <option value="1" th:selected="(${DECIMAL_DIGITS} == 1)">1</option>
                <option value="2" th:selected="(${DECIMAL_DIGITS} == 2)">2</option>
                <option value="3" th:selected="(${DECIMAL_DIGITS} == 3)">3</option>
                <option value="4" th:selected="(${DECIMAL_DIGITS} == 4)">4</option>
            </select>
        </div>

        <div class="col-12 pb-3 ">
            <label  class="form-label">Hàng nghìn</label>
            <select name="THOUSANDS_POINT_TYPE" class="form-control">
                <option value="POINT" th:selected="(${THOUSANDS_POINT_TYPE} == 'POINT')">
                    Dấu ( . )
                </option>
                <option value="COMMA" th:selected="(${THOUSANDS_POINT_TYPE} == 'COMMA')">
                    Dấu ( , )
                </option>
            </select>
        </div>

        <div class="text-center">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary m-3" />
        </div>
    </form>
</div>
</body>
</html>