<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content"  >
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Chủ đề Email</h5>
                <input type="text" class="form-control" name="ORDER_CONFIRMATION_SUBJECT"
                       th:value="${ORDER_CONFIRMATION_SUBJECT}" required  />
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nội dung Email</h5>
                <label for="orderConfirmationContent"></label>
                <textarea rows="5" name="ORDER_CONFIRMATION_CONTENT"
                          id="orderConfirmationContent">[[${ORDER_CONFIRMATION_CONTENT}]]
                </textarea>
            </div>
        </div>
    </div>


</div>
</body>
</html>