<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{common/common :: html_head('setting')}"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{common/common :: header}" ></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{common/common :: sidebar}" ></aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Setting</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active"><a th:href="@{/admin/setting}">[[${pageTitle}]]</a> </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div th:if="${message != null}" class=" alert alert-success text-center">
        [[${message}]]
    </div>
    <section class="section admin-user">
        <div class="row">
            <!-- columns form -->
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div >
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab"   data-bs-target="#General">General</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab"  data-bs-target="#mailServer">Máy chủ Mail</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" data-bs-target="#mailTemplate">Mẫu gửi Mail</a>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active pt-3  " id="General">
                                    <div th:replace="~{setting/general :: content }"></div>
                                </div>

                                <div class="tab-pane fade pt-3" id="mailServer">
                                    <div th:replace="~{setting/mail_server :: content }"></div>
                                </div>

                                <div class="tab-pane fade pt-3" id="mailTemplate">
                                    <div th:replace="~{setting/mail_template :: content }"></div>
                                </div>

                                <div class="tab-pane fade pt-3" id="Payment">

                                </div>

                            </div><!-- End Bordered Tabs -->
                        </div>

                        <!-- Modal -->
                        <div th:replace="~{common/fragments_modal :: modal_error}"></div>

                    </div>
                </div>
            </div><!-- End columns table-->
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="~{common/common :: footer}" ></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- ======= JS ======= -->
<span th:replace="~{common/common :: js}"></span>

<script type="text/javascript">

    moduleURL = "[[@{/admin/setting}]]";
    MAX_FILE_SIZE = 502400; // 500KB
    defaultImageThumbnailSrc = "[[@{/images/image-thumbnail.png}]]";

    $(document).ready(function() {
        $("#customerVerificationContent").richText();
    });
    $(document).ready(function() {
        $("#orderConfirmationContent").richText();
    });
</script>
<script th:src="@{/js/common_form.js}"></script>



</body>

</html>