<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- ======= User Column ======-->
<th scope="col" th:fragment="column_link(fieldName, columnLabel)" >
    <a  style="color: black"
        th:href="@{'/admin/users/page/'
                   + ${currentPage}
                   + '?sortField='+${fieldName}
                   + '&sortDir='+ ${sortField != fieldName ? sortDir: reverseSortDir }
                   + ${keyword != null ? '&keyword=' + keyword : ' '}}"
    >
        [[${columnLabel}]]
    </a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'bi bi-sort-alpha-down' : 'bi bi-sort-alpha-down-alt'}">
        </span>
</th>

</body>
</html>