<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{administrator/common :: html_head}"></head>
<body>
    <div th:replace="~{administrator/common :: header}"></div>
    <section class="section-1 ">
        <div class="container-fluid ">
            <div class="row">
                <div th:replace="~{administrator/common :: menu_admin}"></div>
                <div class="col-xxl-10 col-xl-10 col-lg-10">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12  ">
                            <div class="home_content ">
                                 <div class="title">
                                     <p>Bảng điều khiển</p>
                                 </div>
                                 <div class="date_time">
                                     <p id="current-date"></p> <p id="current-time"></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-4 col-xl-4">
                                <div class="total_customers">
                                    <div class="total_customers__icon col-3">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="total_customers__info col-9  " style="padding: 10px 10px;">
                                        <h5>TỔNG SỐ KHÁCH HÀNG</h5>
                                        <P>khách hàng </P>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 ">
                                <div class="total_customers">
                                    <div class="total_customers__icon col-3">
                                        <i class="bi bi-bag-check"></i>
                                    </div>
                                    <div class="total_customers__info  col-9" style="padding: 10px 10px;">
                                        <h5>TỔNG SỐ SẢN PHẨM</h5>
                                        <P>sản phẩm</P>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 ">
                                <div class="total_customers">
                                    <div class="total_customers__icon col-3">
                                        <i class="bi bi-bag-check"></i>
                                    </div>
                                    <div class="total_customers__info col-9 " style="padding: 10px 10px;">
                                        <h5>TỔNG ĐƠN HÀNG</h5>
                                        <P> đơn hàng tháng này</P>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-lg-12  ">
                                <div class="table_order ">
                                    <div class="title">
                                        <h3>Tình trạng đơn hàng gần đây</h3>
                                    </div>
                                    <div >
                                        <table class="table table-responsive table-hover table-striped table-bordered   table_content" >
                                            <tr>
                                                <th>Mã đơn hàng</th>
                                                <th>Tên khách hàng</th>
                                                <th>Địa chỉ</th>
                                                <th>Trạng thái</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span class="btn btn-danger">Đã hủy</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-lg-12  ">
                                <div class="table_order">
                                    <div class="title">
                                        <h3>Khách hàng mới</h3>
                                    </div>
                                    <div >
                                        <table class="table table-responsive table-hover table-striped table-bordered  table_content " >
                                            <tr>
                                                <th>Tên khách hàng</th>
                                                <th>Tên tài khoản</th>
                                                <th>email</th>
                                                <th>Số điện thoại</th>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{administrator/common :: footer}"></div>
    <div th:replace="~{administrator/common :: js}"></div>
</body>
</html>