<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{administrator/common :: html_head}"></head>
<body>
    <div th:replace="~{administrator/common :: header}"></div>
    <section class="section-1 ">
        <div class="container-fluid ">
            <div class="row">
                <div th:replace="~{administrator/common :: menu_admin}"></div>
                <div class="col-xxl-10 col-xl-10 col-lg-10">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-12 col-md-12  ">
                            <div class="home_content ">
                                 <div class="title">
                                     <p>Quản lý người dùng</p>
                                 </div>
                                 <div class="date_time">
                                     <p id="current-date"></p> <p id="current-time"></p>
                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-md-12  ">
                                <div class="product_manager">
                                    <div class="element_button">
                                        <div class="d-flex element_button__search ">
                                            <!-- tìm kiếm theo tên  -->
                                            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Search" autocomplete="off" value="" style="margin-right: 10px;">
                                            <button type="submit"  name="btnSearch" value="Search" class="btn  " id="btnSearch">Seach</button>
                                        </div>
                                        <div class="element_button__right">
                                            <div class="element_button_Excel">
                                                <a href="" class="btn">Xuất Excel </a>
                                            </div>
                                            <div class="element_button_PDF">
                                                <a href="" class="btn">Xuất PDF </a>
                                            </div>
                                            <div class="element_button_NewUser">
                                                <a th:href="@{users/create}" class="btn">Thêm </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table_order">
                                        <div class="title">
                                            <h3>Danh sách người dùng</h3>
                                        </div>
                                        <div th:if="${message != null}" class=" alert alert-success text-center">
                                           [[${message}]]
                                        </div>
                                        <div>
                                            <table class="table table-responsive table-hover table-striped table-bordered table_content" >
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Photos</th>
                                                        <th>Email</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Roles</th>
                                                        <th>Enables</th>
                                                        <th>Other</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="user : ${listUsers}">
                                                        <td th:text="${user.id}"></td>
                                                        <td></td>
                                                        <td th:text="${user.email}"></td>
                                                        <td th:text="${user.firstName}"></td>
                                                        <td th:text="${user.lastName}"></td>
                                                        <td th:text="${user.roles}"></td>
                                                        <td th:text="${user.enabled}"></td>
                                                        <td>
                                                            Edit &nbsp; Delete
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{administrator/common :: footer}"></div>
    <span th:replace="~{administrator/common :: js}"></span>
</body>
</html>