<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{administrator/common :: html_head}"></head>
<body>
    <div th:replace="~{administrator/common :: header}"></div>
    <section class="section-1 ">
        <div class="container-fluid ">
            <div class="row">
                <div th:replace="~{administrator/common :: menu_admin}"></div>
                <div class="col-xxl-10 col-xl-10 col-lg-10">
                    <div class="col-xxl-12 col-xl-12 col-md-12  ">
                        <div class="home_content ">
                            <div class="title">
                                <p>Quản lý người dùng | Thêm mới</p>
                            </div>
                            <div class="date_time">
                                <p id="current-date"></p> <p id="current-time"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xxl-6 col-xl-6 col-md-6">
                            <div class="user-from-box-shadow">
                                <form th:action="@{/admin/users/save}" method="post" th:object="${newUser}">
                                    <div class="form_user clearfix">
                                        <h4 class="form_user_title">NHẬP THÔNG TIN</h4>
                                        <fieldset class="form-group ">
                                            <label>Email<span class="required">*</span></label>
                                            <input  type="email"  class="form-control " th:field="*{email}" required minlength="8" maxlength="128" >
                                        </fieldset>
                                        <fieldset class="form-group ">
                                            <label>First Name<span class="required">*</span></label>
                                            <input  type="text"  class="form-control " th:field="*{firstName}" required minlength="2" maxlength="45" >
                                        </fieldset>
                                        <fieldset class="form-group ">
                                            <label>Last Name<span class="required">*</span></label>
                                            <input  type="text"  class="form-control " th:field="*{lastName}" required minlength="2" maxlength="45" >
                                        </fieldset>
                                        <fieldset class="form-group ">
                                            <label>Password<span class="required">*</span></label>
                                            <input  type="password"  class="form-control " th:field="*{password}" required minlength="8" maxlength="20" >
                                        </fieldset>
                                        <fieldset class="form-group ">
                                            <label>Role<span class="required">*</span></label>
                                            <br>
                                            <th:block th:each="role : ${listRoles}" >
                                                <input type="checkbox" th:field="*{roles}"
                                                    th:text="${role.name}"
                                                    th:value="${role.id}"
                                                />
                                                : <small th:text="${role.description}"></small>
                                                <br>
                                            </th:block>
                                        </fieldset>
                                        <fieldset class="form-group ">
                                            <label>Enable<span class="required">*</span></label>
                                            <input type="checkbox" style="margin-left: 5px" th:field="*{enabled}"/>
                                        </fieldset>
                                        <div class="btn_submit" >
                                            <button class="btn btn-primary btn-style "  onclick="redirectToAdminUsers()" id="buttonCancel" type="button" >Hủy</button>
                                            <button class="btn btn-success btn-style " type="submit" value="submit">Gửi thông tin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{administrator/common :: footer}"></div>
    <span th:replace="~{administrator/common :: js}"></span>

</body>
</html>