<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{customer/common/common :: html_head('Error 404')}"></head>

<body>

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>Sorry, the requested page could not be found.</h2>
        <a class="btn" th:href="@{/index}">Back to home</a>
      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- ======= JS ======= -->
  <span th:replace="~{customer/common/common :: script}"></span>

</body>

</html>