/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/
.product-image a{
    display: inline-block;
}
.product-info {

}
.catagory-menu-wrap ul > li {
    list-style: none;
    display: inline-flex;
    width: 24%;
    position: relative;
    padding-bottom: 20px;
}
.product-title h4 a{
    height: 44px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}
.default-logo,
.sticky-logo{
    max-width: 200px;
    height: auto;
}

.dropdown_setting{
    top: 5px !important;
}

/*login and register*/

.setting-input-botton{
    display: flex;
    justify-content: space-around;
}

.setting-input-botton a{
    display: inline-block;
}
.line-break {
    max-width: 100%;
    margin: 0px auto 20px;
    text-align: center;
    position: relative;
}
.line-break:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 10px;
}
.line-break span {
    display: inline-block;
    font-size: 13px;
    color: #999;
    padding: 1px 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #eee;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

/*address*/
.address_default{
    background-color: #dfdfdf;
}

/*checkout*/
.address-header h3{
    argin-bottom: 40px;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid #eaeaea;
    padding: 7.5px;
}
.address-content{
    border-bottom: 1px solid #eaeaea;
    padding: 7.5px;
    margin: 10px;
}