<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common :: html_head(${pageTitle})}"></head>

<body>
<!-- Preloader -->
<div th:replace="~{common/common :: preLoader}"></div>
<!-- End Of Preloader -->

<!-- Main header -->
<header th:replace="~{common/common :: header}"></header>
<!-- End of main header -->

<!-- Catagory menu -->
<div th:replace="~{common/common :: catagory-menu}"></div>
<!-- End of Catagory menu -->

<!-- offcanvas menu-->
<th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>
<!-- End of offcanvas menu-->


    <!-- page title -->
    <section class="page-title-inner" data-bg-img='assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <ul class="list-unstyled mb-0">
                            <li><a th:href="@{/}">Trang chủ</a></li>
                            <li class="active"><a href="#">Tài khoản </a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->
    <!-- logout register wrap -->
    <section class="pt-30 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <!-- dash board nav-->
                    <div class="dashboard-inner">
                        <nav>
                            <ul class="nav-list nav">
                                <li>
                                    <a class="dashboard-nav-item active" id="nav-dasboard" data-toggle="tab"  href="#dashboard"><span><img src="assets/img/icons/dashboard.svg" class="svg" alt=""></span>Bảng điều khiển</a>
                                </li>
                                <li>
                                    <a class="dashboard-nav-item" id="nav-address" data-toggle="tab" href="#address"><span><img src="assets/img/icons/address.svg" class="svg" alt=""></span>Địa chỉ </a>
                                </li>
                                <li>
                                    <a class="dashboard-nav-item" id='nav-adetails' data-toggle="tab" href="#adetails"><span><img src="assets/img/icons/account3.svg" class="svg" alt=""></span>Thông tin tài khoản</a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                    <!-- End of dash board nav-->
                </div>
                <div class="col-lg-9">
                    <!-- dashboard content -->
                    <div class="deshboard-content-wrap">
                        <div class="tab-content dashboad-tab-content">
                            <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby='nav-dasboard'>
                                <div th:if="${message != null}" class=" alert alert-success text-center">
                                    [[${message}]]
                                </div>
                                <form th:object="${customer}" >
                                    <!-- dashboard info -->
                                    <div class="dashboard-tab-info">
                                        <p>Hello [[${customer.fullName}]]</p>
                                        <p>Từ bảng điều khiển tài khoản của bạn, bạn có thể cập nhật thông tin tài khoản và thay đổi mật khẩu của bạn của bạn.</a></p>
                                    </div>
                                    <!--End of dashboard info -->
                                </form>

                            </div>


                            <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby='nav-address'>
                                <div class="dashboard-tab-address">
                                    <div>
                                        <a class=" btn btn-fill-type" style="border: 1px solid #8c8c8c" th:href="@{/account_details/address_book/new}">Thêm địa chỉ mới</a>
                                    </div>
                                    <table class="dashboard-order-table">
                                        <tbody>
                                        <tr>
                                            <th>Stt</th>
                                            <th>Địa chỉ</th>
                                            <th>Trạng thái</th>
                                            <th>Tùy chọn</th>
                                        </tr>
                                       <th:block th:each="address, status: ${listAddresses}">
                                        <tr >
                                            <td th:text="${status.count}"></td>
                                            <td th:text="${address.toString()}"></td>

                                            <td>
                                                <div th:if="${address.defaultForShipping}">
                                                    <span class="text-danger" style="font-weight: bold">Mặc định</span >
                                                </div>

                                                <div th:unless="${address.defaultForShipping}">
                                                    <a th:href="@{'/account_details/address_book/default/' + ${address.id}}">Đặt địa chỉ mặc định</a>
                                                </div>
                                            </td>

                                            <td>
                                                <a th:href="@{'/account_details/address_book/edit/' + ${address.id}}" title="Edit this address">sửa | </a>
                                                <a th:href="@{'/account_details/address_book/delete/' + ${address.id}}" th:entityId="${address.toString()}" class="linkDelete" title="delete this address">Xóa</a>
                                            </td>

                                        </tr>
                                       </th:block>


                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="adetails" role="tabpanel" aria-labelledby='nav-adetails'>
                                <!-- Account details-->
                                <div class="account-details">
                                    <form th:action="@{/update_account_details}" method="post"
                                          th:object="${customer}" >
                                        <input type="hidden" th:field="*{id}" />

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 style="font-weight: 700; margin: 7px 15px 20px">Thông tin tài khoản</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="email" th:field="*{email}"  class="theme-input-style" readonly="readonly">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" th:field="*{firstName}" class="theme-input-style" placeholder="Họ" required="required" maxlength="45" minlength="2">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" th:field="*{lastName}"  class="theme-input-style" placeholder="Tên" required="required" maxlength="45" minlength="2">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" th:field="*{phoneNumber}"  class="theme-input-style" placeholder="Số điện thoại" required="required" maxlength="15" minlength="8">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <!-- password change -->
                                                <div class="passwrd-change-wrap">
                                                    <th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
                                                        <h5>Thay đổi mật khẩu</h5>
                                                        <input class="theme-input-style" placeholder="Mật khẩu mới"
                                                               type="password" th:field="*{password}"   maxlength="15" minlength="6"
                                                               oninput="checkPasswordMatch(document.getElementById('confirmPassword'))">

                                                        <input class="theme-input-style" placeholder="Xác nhận mật khẩu"
                                                               type="password" id="confirmPassword" maxlength="15" minlength="6"
                                                               oninput="checkPasswordMatch(this)">
                                                    </th:block>
                                                </div>
                                                <!-- End of password change -->
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-fill-type ">Thay đổi</button>
                                    </form>
                                </div>
                                <!-- End of Account details -->
                            </div>
                        </div>
                    </div>
                    <!-- End of dashboard content -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of logout register wrap -->

   <!-- footer area -->
   <div th:replace="~{common/common :: footer}"></div>

    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span>Back To Top</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>
    <!-- back to top -->

    <!-- Modal -->
    <div th:replace="~{common/modal :: modal_dialog}"></div>

   <!-- JS Files -->
    <th:block th:replace="~{common/common :: script}"></th:block>

    <script type="text/javascript">
        contextPath = "[[@{/}]]";
    </script>
    <script type="text/javascript" th:src="@{/assets/js/common_customer.js}"></script>

    </body>
</html>