<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/common :: html_head('Quên mật khẩu')}"></head>

<body>
<!-- Preloader -->
<div th:replace="~{common/common :: preLoader}"></div>
<!-- End Of Preloader -->

<!-- Main header -->
<header th:replace="~{common/common :: header}"></header>
<!-- End of main header -->

<!-- Catagory menu -->
<div th:replace="~{common/common :: catagory-menu}"></div>
<!-- End of Catagory menu -->

<!-- offcanvas menu-->
<th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>
<!-- End of offcanvas menu-->

<!-- page title -->
<section class="page-title-inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- page title inner -->
                <div class="page-title-wrap">
                    <ul class="list-unstyled mb-0">
                        <li><a th:href="@{/}">Trang chủ</a></li>
                        <li ><a th:href="@{/login}">Đăng nhập</a></li>
                        <li class="active"><a href="#">Quên mật khẩu</a></li>
                    </ul>
                </div>
                <!-- End of page title inner -->
            </div>
        </div>
    </div>
</section>

<!-- forgot password wrap -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- forgot password -->
                <div class="login-register-wrap text-center main-log-regi">
                    <!-- forgot password nav -->
                    <div class="login-register-nav">
                        <nav class="nav lr-nav text-center">
                            <a id="nav-login-tab2" data-toggle="tab" class="active">Vui lòng nhập email của bạn</a>
                        </nav>
                    </div>
                    <!-- End of login register nav -->

                    <!-- forgot password content -->
                    <div class="login-register-content tab-content">
                        <div class="tab-pane fade show active" id="login2" role="tabpanel" aria-labelledby="nav-login-tab2">
                            <div class="primary-form parsley-validate">
                                <form th:action="@{/forgot_password}" method="post">
                                    <div  th:if="${error != null}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            [[${error}]]
                                        </div>
                                    </div>
                                    <div th:if="${message != null}">
                                        <div class="alert alert-success col-xs-offset-1 col-xs-10">
                                            [[${message}]]
                                        </div>
                                    </div>
                                    <div class="name-input input-field">
                                        <label>
                                            <img th:src="@{assets/img/icons/account3.svg}" class="svg" alt="">
                                        </label>
                                        <input type="email" name="email" placeholder='Email Address' class="theme-input-style"
                                               required="required" autofocus="autofocus">
                                    </div>
                                    <button type="submit" class="btn btn-fill-type " style="margin-bottom: 10px">Gửi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of logout register wrap -->

<!-- footer area -->
<div th:replace="~{common/common :: footer}"></div>


<!-- back to top -->
<div class="back-to-top">
    <a href="#">
        <div class="back-toop-tooltip"><span>Back To Top</span></div>
        <div class="top-array"></div>
        <div class="top-line"></div>
    </a>
</div>

<!-- JS Files -->
<th:block th:replace="~{common/common :: script}"></th:block>



</body>
</html>