<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common :: html_head('Thay đổi mật khẩu')}"></head>

<body>
<!-- Preloader -->
<div th:replace="~{common/common :: preLoader}"></div>
<!-- End Of Preloader -->

<!-- Main header -->
<header th:replace="~{common/common :: header}"></header>
<!-- End of main header -->

<!-- Catagory menu -->
<div th:replace="~{common/common :: catagory-menu}"></div>
<!-- End of Catagory menu -->

<!-- offcanvas menu-->
<th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>
<!-- End of offcanvas menu-->

<!-- page title -->
<section class="page-title-inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- page title inner -->
                <div class="page-title-wrap">
                    <div class="page-title-heading"><h1 class="h2">Đặt lại mật khẩu<span></span></h1></div>
                    <ul class="list-unstyled mb-0">
                        <li><a th:href="@{/}">home</a></li>
                        <li ><a th:href="@{/forgot_password}">Quên mật khẩu</a></li>
                        <li class="active"><a href="#">Đặt lại mật khẩu</a></li>
                    </ul>
                </div>
                <!-- End of page title inner -->
            </div>
        </div>
    </div>
</section>

<!-- reset password wrap -->
<section class="pt-100 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- reset password -->
                <div class="login-register-wrap text-center main-log-regi">
                    <!-- reset password nav -->
                    <div class="login-register-nav">
                        <nav class="nav lr-nav text-center">
                            <a id="nav-login-tab2" data-toggle="tab" class="active">Vui lòng nhập lại mật khẩu của bạn</a>
                        </nav>
                    </div>

                    <!-- reset password content -->
                    <div class="login-register-content tab-content">
                        <div class="tab-pane fade show active" id="login2" role="tabpanel" aria-labelledby="nav-login-tab2">
                            <div class="primary-form parsley-validate">
                                <form th:action="@{/reset_password}" method="post">
                                    <input type="hidden" th:value="${token}" name="token" />
                                    <div class="name-input input-field">
                                        <label>
                                            <img th:src="@{assets/img/icons/account3.svg}" class="svg" alt="">
                                        </label>
                                        <input type="password" name="password" id="password"
                                               placeholder="Nhập mật khẩu mới" class="theme-input-style"
                                               minlength="8" maxlength="15" required="required"
                                               autofocus="autofocus" >
                                    </div>
                                    <div class="name-input input-field">
                                        <label>
                                            <img th:src="@{assets/img/icons/account3.svg}" class="svg" alt="">
                                        </label>
                                        <input type="password"
                                               placeholder="Xác nhận mật khẩu" class="theme-input-style"
                                               minlength="8" maxlength="15" required="required"
                                               autofocus="autofocus" oninput="checkPasswordMatch(this)" >
                                    </div>
                                    <button type="submit" class="btn btn-fill-type " style="margin-bottom: 10px">Thay đổi mật khẩu</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- footer area -->
<div th:replace="~{common/common :: footer}"></div>


<!-- back to top -->
<div class="back-to-top">
    <a href="#">
        <div class="back-toop-tooltip"><span>Back To Top</span></div>
        <div class="top-array"></div>
        <div class="top-line"></div>
    </a>
</div>

<!-- JS Files -->
<th:block th:replace="~{common/common :: script}"></th:block>

<script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Mật khẩu không trùng khớp!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>

</body>
</html>