/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/
.product-image a{
    display: inline-block;
}
.product-info {

}
.catagory-menu-wrap ul > li {
     list-style: none;
     display: inline-flex;
     width: 24%;
     position: relative;
     padding-bottom: 20px;
 }
.product-title h4 a{
    height: 44px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}