<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common :: html_head('Trang chủ')}"></head>

<body>
    <!-- Preloader -->
    <div th:replace="~{common/common :: preLoader}"></div>

    <!-- Main header -->
    <header th:replace="~{common/common :: html_header}"></header>

    <!-- Catagory menu -->
    <div th:replace="~{common/common :: catagory-menu}"></div>

    <!-- Offcanvas menu-->
    <th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>

    <!-- banner area -->
    <section class="banner-slider">
        <div class="slider-inner-wrap">
            <div class="owl-carousel banner-carousel1">
                <!-- single slider wrap -->
                <div class="single-slider-wrap" th:data-bg-img='@{images/slider_nike.jpg}'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-image" data-trigger="parallax_layers">
                                    <img th:src="@{images/slider_on_4.jpg}" alt="" data-depth="0.5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- slider text -->
                                <div class="single-slider-text">
                                    <h1>NIKE</h1>
                                    <p>Hãng giày thể thao hot nhất thế giới.</p>
                                    <a href="#" class="btn">Xem ngay</a>
                                </div>
                                <!-- End of slider text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider wrap -->

                <!-- single slider wrap -->
                <div class="single-slider-wrap" th:data-bg-img='@{images/slider_2.webp}'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-image" data-trigger="parallax_layers">
                                    <img th:src="@{images/slider_on_2.jpg}" alt="" data-depth="0.5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- slider text -->
                                <div class="single-slider-text">
                                    <h1>NIKE</h1>
                                    <p>Hãng giày thể thao hot nhất thế giới.</p>
                                    <a href="#" class="btn">Xem ngay</a>
                                </div>
                                <!-- End of slider text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider wrap -->

                <!-- single slider wrap -->
                <div class="single-slider-wrap" th:data-bg-img='@{images/slider_3.webp}'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-image" data-trigger="parallax_layers">
                                    <img th:src="@{images/slider_on_3.jpg}" alt="" data-depth="0.5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- slider text -->
                                <div class="single-slider-text">
                                    <h1>NIKE</h1>
                                    <p>Hãng giày thể thao hot nhất thế giới.</p>
                                    <a href="#" class="btn">Xem ngay</a>
                                </div>
                                <!-- End of slider text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider wrap -->
            </div>
        </div>
    </section>

    <!-- Start Collection Section -->
    <section class="pt-40 pb-70">
        <div class="collection-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- single Collection -->
                        <div class="single-colection-inner overlay2 type2">
                            <div class="single-colection-img">
                                <img th:src="@{assets/img/add/collection-1.jpg}" alt="">
                            </div>
                            <div class="single-colection">
                                <h3>Trendy Items</h3>
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                        <!-- End of single Collection -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- single Collection -->
                        <div class="single-colection-inner overlay3 type2">
                            <div class="single-colection-img">
                                <img th:src="@{assets/img/add/collection-2.jpg}" alt="">
                            </div>
                            <div class="single-colection">
                                <h3>Top Sellers</h3>
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                        <!-- End of single Collection -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- single Collection -->
                        <div class="single-colection-inner overlay4 type2">
                            <div class="single-colection-img">
                                <img th:src="@{assets/img/add/collection-3.jpg}" alt="">
                            </div>
                            <div class="single-colection">
                                <h3>Hot Deals</h3>
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                        <!-- End of single Collection -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- New Arrival -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                <!-- section title -->
                    <div class="section-title-wrap">
                        <div class="section-title">
                            <h2>Sản phẩm mới<span>Tháng này</span></h2>
                            
                        </div>
                    </div>
                <!-- End of section title -->
                </div>
            </div>
            <div class="row">
                <th:block th:each="product : ${listProduct}">
                    <div th:replace="~{product/fragment :: content}"></div>
                </th:block>
            </div>
        </div>
    </section>
    
    <!-- offer -->
    <section>
        <div class="offer parallax-window" data-parallax="scroll" th:data-image-src="@{images/slider_1.webp}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <!-- offer inner area -->
                        <div class="offer-inner-area">
                            <h4 class="get-upto">Get Up To</h4>
                            <h2><span class="spacial great-vibes">75%</span>OFF</h2>
                            <h4>For this <span>#summer</span> only</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content of page at its layout.</p>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <!-- End of offer inner area -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Subscribe area -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- section title -->
                    <div class="section-title-wrap">
                        <div class="section-title">
                            <h2>Subscribe Now <span>Get Update</span></h2>
                            
                        </div>
                    </div>
                <!-- End of section title -->
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- subscribe text -->
                    <div class="subscribe-text">
                        <h5>25% Discount On Subscribtion</h5>
                        <p>Get updates by subscribe our weekly newsletter</p>
                    </div>
                    <!-- End of subscribe text -->
                </div>
                <div class="col-md-6">
                    <!-- subscribe form -->
                    <div class="primary-form parsley-validate subscribe-form">
                        <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&id=f4e0e93d1d" method='post' target="_blank" novalidate>
                            <input type="email" name="email" class="theme-input-style" placeholder="Enter Email Address" required>
                            <button type="submit" class="subscribe-btn">Subscribe</button>
                        </form>
                    </div>
                    <!-- End of subscribe form -->
                </div>
            </div>
        </div>
    </section>



    <!-- footer  -->
    <div th:replace="~{common/common :: footer}"></div>

    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span>Back To Top</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>

    <!-- JS Files -->
    <th:block th:replace="~{common/common :: script}"></th:block>

</body>
</html>