<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common :: html_head('Trang chủ')}"></head>

<body>
    <!-- Preloader -->
    <div th:replace="~{common/common :: preLoader}"></div>

    <!-- Main header -->
    <header th:replace="~{common/common :: html_header}"></header>

    <!-- Catagory menu -->
    <div th:replace="~{common/common :: catagory-menu}"></div>

    <!-- Offcanvas menu-->
    <th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>

    <!-- banner area -->
    <section class="banner-slider">
        <div class="slider-inner-wrap">
            <div class="owl-carousel banner-carousel1">
                <!-- single slider wrap -->
                <div class="single-slider-wrap" th:data-bg-img='@{assets/image/banner1.jpg}'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-image" data-trigger="parallax_layers">
                                    <img th:src="@{images/slider_on_4.jpg}" alt="" data-depth="0.5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- slider text -->
                                <div class="single-slider-text">
                                    <h1>NIKE</h1>
                                    <p>Hãng giày thể thao hot nhất thế giới.</p>
                                    <a href="#" class="btn">Xem ngay</a>
                                </div>
                                <!-- End of slider text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider wrap -->

                <!-- single slider wrap -->
                <div class="single-slider-wrap" th:data-bg-img='@{assets/image/banner2.jpg}'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-image" data-trigger="parallax_layers">
                                    <img th:src="@{assets/image/}" alt="" data-depth="0.5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- slider text -->
                                <div class="single-slider-text">
                                    <h1>NIKE</h1>
                                    <p>Hãng giày thể thao hot nhất thế giới.</p>
                                    <a href="#" class="btn">Xem ngay</a>
                                </div>
                                <!-- End of slider text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider wrap -->

                <!-- single slider wrap -->
                <div class="single-slider-wrap" th:data-bg-img='@{assets/image/banner3.jpg}'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner-image" data-trigger="parallax_layers">
                                    <img th:src="@{images/slider_on_3.jpg}" alt="" data-depth="0.5">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- slider text -->
                                <div class="single-slider-text">
                                    <h1>NIKE</h1>
                                    <p>Hãng giày thể thao hot nhất thế giới.</p>
                                    <a href="#" class="btn">Xem ngay</a>
                                </div>
                                <!-- End of slider text -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single slider wrap -->
            </div>
        </div>
    </section>

    <!-- Start Collection Section -->
    <section class="pt-40 pb-70">
        <div class="collection-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- single Collection -->
                        <div class="single-colection-inner overlay2 type2">
                            <div class="single-colection-img">
                                <img th:src="@{assets/image/start1.webp}" alt="" style="width: 350px; height: 190px">
                            </div>
                            <div class="single-colection">
                                <h3>Sản phẩm hot trendy</h3>
                                <a href="#" class="btn">Xem ngay</a>
                            </div>
                        </div>
                        <!-- End of single Collection -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- single Collection -->
                        <div class="single-colection-inner overlay3 type2">
                            <div class="single-colection-img">
                                <img th:src="@{assets/image/banneraaaa.jpg}" alt="" style="width: 350px; height: 190px">
                            </div>
                            <div class="single-colection">
                                <h3>Sản phẩm bán chạy</h3>
                                <a href="#" class="btn">Xem ngay</a>
                            </div>
                        </div>
                        <!-- End of single Collection -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- single Collection -->
                        <div class="single-colection-inner overlay4 type2">
                            <div class="single-colection-img">
                                <img th:src="@{assets/image/banner3.jpg}" alt="" style="width: 350px; height: 190px">
                            </div>
                            <div class="single-colection">
                                <h3>Ưu đãi lớn</h3>
                                <a href="#" class="btn">Xemn ngay</a>
                            </div>
                        </div>
                        <!-- End of single Collection -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- New Arrival -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                <!-- section title -->
                    <div class="section-title-wrap">
                        <div class="section-title">
                            <h2>Sản phẩm mới<span>Tháng này</span></h2>
                            
                        </div>
                    </div>
                <!-- End of section title -->
                </div>
            </div>
            <div class="row">
                <th:block th:each="product : ${listProduct}">
                    <div th:replace="~{product/fragment :: content}"></div>
                </th:block>
            </div>
        </div>
    </section>

    <!-- quick service  -->
    <section class="pt-70 pb-40 pattern bdr-top bdr-btm">
        <div class="quick-service-wrap">
            <div class="container">
                <div class="row">
                    <!-- single quick service -->
                    <div class="col-md-4">
                        <div class="single-quick-service d-flex align-items-center">
                            <img src="assets/img/icons/car.svg" class="svg" alt="">
                            <div class="single-quick-text">
                                <h5>Giao hàng toàn quốc</h5>
                                <p>Miễn phí vận chuyển với đơn hàng trên 1.000.000 Đ</p>
                            </div>
                        </div>
                    </div>
                    <!-- enn of quick service -->

                    <!-- single quick service -->
                    <div class="col-md-4">
                        <div class="single-quick-service d-flex align-items-center">
                            <img src="assets/img/icons/retry.svg" class="svg" alt="">
                            <div class="single-quick-text">
                                <h5>Đổi hàng dễ dàng</h5>
                                <p>Đổi hàng online ,trực tiếp.</p>
                            </div>
                        </div>
                    </div>
                    <!-- enn of quick service -->

                    <!-- single quick service -->
                    <div class="col-md-4">
                        <div class="single-quick-service d-flex align-items-center">
                            <img src="assets/img/icons/phone-volume.svg" class="" alt="" style="width: 60px;height: 50px;">
                            <div class="single-quick-text">
                                <h5>Hỗ trợ online</h5>
                                <p>Đội ngũ hỗ trợ hoạt động tất cả các ngày trong tuần, từ 9am -> 9pm.</p>
                            </div>
                        </div>
                    </div>
                    <!-- enn of quick service -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of quick service  -->


    <!-- About area -->
    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- about area -->
                    <div class="about-area-inner">
                        <!-- about header -->
                        <div class="about-header">
                            <span>Về chúng tôi</span>
                            <h3>Thương hiệu tốt nhất Chất lượng tốt nhất</h3>
                        </div>
                        <!--End of about header -->
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form words.</p>
                        <p>
                            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Inter net. It uses a dictionary of over 200 Latin words.</p>
                        <a href="#">More About Us <span><i class="fa fa-angle-right"></i></span></a>
                    </div>
                    <!--End of about area -->
                </div>
                <div class="col-md-6">
                    <div class="about-image-inner">
                        <div class="about-image">
                            <img src="assets/img/featuerd/about1.jpg" alt="" class="about-image1">
                            <img src="assets/img/featuerd/about2.jpg" alt="" class="about-image2">
                            <img src="assets/img/featuerd/about3.jpg" alt="" class="about-image3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer  -->
    <div th:replace="~{common/common :: footer}"></div>

    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span>Back To Top</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>

    <!-- JS Files -->
    <th:block th:replace="~{common/common :: script}"></th:block>

</body>
</html>