<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="html_head(title)">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>[[${title}]]</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link  th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">

    <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">

    <link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">

    <link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">

    <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">

    <link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Liên kết tới Font Awesome từ CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link th:href="@{/vendor/richtext/richtext.min.css}" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>
<body>
<!-- ======= Header ======= -->
<header  th:fragment="header" id="header" class="header fixed-top d-flex align-items-center">
    <!--  form hidden logout  -->
    <div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit">
        </form>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <a href="" class="logo d-flex align-items-center">
            <span class="d-none d-lg-block">QT Sneaker</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">3</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        You have 3 new messages
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="" alt="" class="rounded-circle">
                            <div>
                                <h4>Maria Hudson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="" alt="" class="rounded-circle">
                            <div>
                                <h4>Anna Nelson</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>6 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="message-item">
                        <a href="#">
                            <img src="" alt="" class="rounded-circle">
                            <div>
                                <h4>David Muldon</h4>
                                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                <p>8 hrs. ago</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">Show all messages</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img th:src="${#authentication.principal.Photo}" alt="Profile" class="rounded-circle">
                    <span sec:authentication="principal.FullName" class="d-none d-md-block dropdown-toggle ps-2"></span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6 ></h6>
                        <span sec:authentication="principal.authorities"></span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/admin/account}">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a id="logoutLink" class="dropdown-item d-flex align-items-center" href="" >
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " th:href="@{/}">
                <i class="bi bi-grid"></i>
                <span>Trang chủ</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <th:block sec:authorize="hasAuthority('Admin')">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi bi-person-lines-fill"></i><span>Quản lý nhân viên</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/users}">
                            <i class="bi bi-circle"></i><span>Danh sách nhân viên</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/users/create}">
                            <i class="bi bi-circle"></i><span>Thêm nhân viên</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End User Nav -->
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#customer-nav" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi bi-people"></i><span>Quản lý khách hàng</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="customer-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/customers}">
                            <i class="bi bi-circle"></i><span>Danh sách khách hàng</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End User Nav -->
        </th:block>

        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#brand-nav" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi bi-tags-fill"></i><span>Quản lý thương hiệu</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="brand-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/brands}">
                            <i class="bi bi-circle"></i><span>Danh sách thương hiệu</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/brands/create}">
                            <i class="bi bi-circle"></i><span>Thêm thương hiệu</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End brand Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#categories-nav" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi  bi-journal-text"></i><span>Quản lý danh mục</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="categories-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/categories}">
                            <i class="bi bi-circle"></i><span>Danh sách danh mục</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/categories/create}">
                            <i class="bi bi-circle"></i><span>Thêm danh mục</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End category Nav -->
        </th:block>
        <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Shipper')">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi bi-grid-fill"></i><span>Quản lý sản phẩm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/products}" >
                            <i class="bi bi-circle"></i><span>Danh sách sản phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/admin/products/create}" sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                            <i class="bi bi-circle"></i><span>Thêm sản phẩm</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End product Nav -->
        </th:block>
        <th:block sec:authorize="hasAuthority('Admin')">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#setting-nav" data-bs-toggle="collapse" href="javascript:void(0)">
                    <i class="bi bi-gear"></i><span>Setting</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="setting-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/admin/setting}">
                            <i class="bi bi-circle"></i><span>General</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Setting Nav -->
        </th:block>
        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed"  th:href="@{/admin/account}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-card-list"></i>
                <span>Register</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-dash-circle"></i>
                <span>Error 404</span>
            </a>
        </li><!-- End Error 404 Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<!-- ======= Footer ======= -->
<footer th:fragment="footer"   id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>QT Sneaker</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->

<!-- ======= Js ======= -->
<span th:fragment="js" >

     <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Vendor JS Files -->
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>
    <script th:src="@{/vendor/richtext/jquery.richtext.min.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>

    <script type="text/javascript">
        $(document).ready(function (){
            $("#logoutLink").on("click", function (e){
                e.preventDefault();
                document.logoutForm.submit();
            });
        });
    </script>
</span>

</body>
</html>