<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content"  >
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Short Description</h5>
                    <textarea  class="form-control" th:field="*{shortDescription}" required></textarea>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Full Description</h5>
                    <textarea  class="form-control" th:field="*{fullDescription}" required></textarea>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-style "  type="reset">Reset</button>
            <button class="btn btn-success btn-style " type="submit" value="submit">Submit</button>
        </div>

    </div>
</body>
</html>