<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content"  >

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mô tả ngắn</h5>
                <div th:utext="${product.shortDescription}" class="form-control border  " style="background-color: #c9c9c966"></div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mô tả đầy đủ</h5>
                <div th:utext="${product.fullDescription}" class="form-control border  " style="background-color: #c9c9c966"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>