<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{customer/common/common :: html_head(${pageTitle})}"></head>

<body>
    <!-- Preloader -->
    <div th:replace="~{customer/common/common :: preLoader}"></div>

    <!-- Main header -->
    <header th:replace="~{customer/common/common :: html_header}"></header>

    <!-- Catagory menu -->
    <div th:replace="~{customer/common/common :: catagory-menu}"></div>

    <!-- offcanvas menu-->
    <th:block th:replace="~{customer/common/common :: offcanvas_menu}"></th:block>

    <!-- page title -->
    <section class="page-title-inner" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap" >
                        <div class="page-title-heading">
                            <h1 class="h2">
                               <span ></span>
                            </h1>
                        </div>
                        <th:block th:if="${listCategoryParents != null and not #lists.isEmpty(listCategoryParents)}">
                            <ul class="list-unstyled mb-0"  >
                                <li>
                                    <a th:href="@{/index}">home</a>
                                </li>
                                <th:block th:each="parent :${listCategoryParents} ">
                                    <li class="">
                                        <a th:href="@{'/categories/' +${parent.alias}}">[[${parent.name}]]</a>
                                    </li>
                                </th:block>
                            </ul>
                        </th:block>

                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>

    <!-- product details wrapper -->
    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Start shop product slider -->
                    <div class="shop-product-slider-wrap">
                        <!-- Start shop slider top side -->
                         <div class="swiper-container product-gallery">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" >
                                    <img id="zoom_01" class='' th:src="@{${productDetail.mainImagePath}}" th:data-zoom-image="@{${productDetail.mainImagePath}}" alt=""/>
                                </div>

                                <th:block th:each="extraImage, status : ${productDetail.images}">
                                    <div class="swiper-slide">
                                        <img id="zoom_02" class=''  th:src="@{${extraImage.imagePath}}" th:data-zoom-image="@{${extraImage.imagePath}}" th:index="${status.count}" alt=""/>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                         <!-- End of shop slider top side -->
                        
                        <!-- Start shop slider bottom side -->
                        <div class="swiper-container product-thumbs">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img th:src="@{${productDetail.mainImagePath}}" data-rjs="2" alt="">
                                </div>
                                <th:block th:each="extraImage, status : ${productDetail.images}">
                                    <div class="swiper-slide">
                                        <img th:src="@{${extraImage.imagePath}}" data-rjs="2" alt="" th:index="${status.count}">
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <!-- End of shop slider bottom side -->
                    </div>
                    <!-- End of shop product slider -->
                </div>

                <div class="col-md-6">
                    <!-- product details inner -->
                    <div class="product-details-inner">
                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>

                            <!-- product title -->
                            <div class="product-title">
                                <h2><a href="">[[${productDetail.name}]]</a></h2>
                            </div>

                            <!-- brand title -->
                            <div class="Brands-title">
                                <h3><a href="">Thương hiệu :[[${productDetail.brand.name}]]</a></h3>
                            </div>

                            <!-- product price -->
                            <div class="product-price" th:if="${productDetail.discountPercent <= 0}">
                                <h5 class="old-price" th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA')} + ' đ'" ></h5>
                            </div>
                            <div class="product-price" th:if="${productDetail.discountPercent > 0}">
                                <h5 class="new-price" th:text="${#numbers.formatDecimal(productDetail.getDiscountPrice(), 0, 'POINT', 0, 'COMMA')} + ' đ'"></h5>
                                <del  class="old-price" th:text="${#numbers.formatDecimal(productDetail.price, 0, 'POINT', 0, 'COMMA')} + ' đ'"></del>
                                <span style="margin-left: 10px" > ([[${productDetail.discountPercent}]] % off)</span>
                            </div>


                            <!-- list product group -->
                            <div class="list-product-group">
                                <ul class="mb-0 list-unstyled">
                                    <li class="size-group group">
                                        <span class="list-heading">size:</span>
                                        <ul class="size-list mb-0 list-unstyled">
                                            <li><a href="#" class="product-size"><span>36</span></a></li>
                                            <li><a href="#" class="active product-size"><span>37</span></a></li>
                                            <li><a href="#" class="product-size"><span>38</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="available-group group">
                                        <span class="list-heading " th:if="${productDetail.inStock}">Còn hàng</span>
                                        <span class="list-heading" th:unless="${productDetail.inStock}">Hết hàng</span>
                                    </li>
                                    <li class="quantity-group group">
                                        <span class="list-heading">quantity:</span>
                                        <div class="product-quantity">
                                            <span class="minus">
                                                <img th:src="@{/customer/assets/img/icons/minus.svg}" class="svg" alt="">
                                            </span>
                                            <input type="text" value="0" class="product-quantity-list product-size">
                                            <span class="plus">
                                                <img th:src="@{/customer/assets/img/icons/plus.svg}" class="svg" alt="">
                                            </span>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- End of list product group -->

                            <!-- product details btns -->
                            <div class="product-details-btns">
                                <div class="addto-bag-btn">
                                    <a href="#" class="btn btn-fill-type">
                                        <span><img th:src="@{customer/assets/img/icons/add-bag.svg}" alt="" class="svg"></span><span class="d-none d-lg-block mr-0">Add To Cart</span>
                                    </a>
                                </div>
                                 <div class="wish-btn">
                                    <a href="#" class="btn btn-fill-type">
                                        <span class=""><img th:src="@{customer/assets/img/icons/wishlist.svg}" alt="" class="svg"></span><span class="d-none d-lg-block mr-0">Mua ngay</span>
                                    </a>
                                </div>
                            </div>
                            <!-- product details btns -->

                            <!-- product mata -->
                            <div class="product_meta item-product-meta-info">
                                Thông tin
                                <span class="posted_in">
                                    <span class="meta-item-list" th:utext="${productDetail.shortDescription}">

                                    </span>
                                </span>
                            </div>
                            <!-- End of product mata -->

                            <!-- product share -->
                            <div class="single-product-share">
                                <label>
                                    <span><i class="fa fa-share"></i></span>
                                </label>
                                
                            </div>
                            <!-- End of product share -->
                        </div>
                         <!-- End of product info -->
                    </div>
                    <!-- End of product details inner -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- product details tab -->
                    <div class="product-details-tab-inner">
                        <div class="product-details-nav">
                            <nav class="nav text-center">
                                <a id="nav-dis-tab" data-toggle="tab" href="#dis" class="active">Description</a>
                                <a id="nav-faq-tab" data-toggle="tab" href="#faq">FAQ</a>
                                <a id="nav-revc-tab" data-toggle="tab" href="#revc">Reviews(5)</a>
                            </nav>
                        </div>
                    </div>
                    <!-- End of product details tab -->
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- product details tab Contaent-->
                            <div class="tab-content single-product-tab">
                                <div class="tab-pane fade show active" id="dis" role="tabpanel" aria-labelledby="nav-dis-tab">
                                    <!-- description inner -->
                                    <div class="description-inner" th:utext="${productDetail.fullDescription}">

                                    </div>
                                    <!-- End of description inner -->
                                </div>
                                <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="nav-faq-tab">
                                    <!-- faq inner area -->
                                    <div class="faq-content-wrap">
                                        <ul class="faq-list mb-0 list-unstyled">
                                            <li>
                                                <span class="roboto">
                                                    01
                                                </span>
                                                <h5 class="lato">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built gay party world.</h5>
                                                <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several carried through an of up attempt gravity. Situation to be at offending elsewhere distrusts if.</p>
                                            </li>
                                            <li>
                                                <span class="roboto">
                                                    02
                                                </span>
                                                <h5 class="lato">As am hastily invited settled at limited civilly fortune me really spring in extent?</h5>
                                                <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved raptures.</p>
                                            </li>
                                            <li>
                                                <span class="roboto">
                                                    03
                                                </span>
                                                <h5 class="lato">Do believing oh disposing to supported allowance we?</h5>
                                                <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several carried through an of up attempt gravity. Situation to be at offending elsewhere distrusts if.</p>
                                            </li>
                                            <li>
                                                <span class="roboto">
                                                    04
                                                </span>
                                                <h5 class="lato">Among state cease how and sight since shall disposing to supported allowance?</h5>
                                                <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several carried through an of up attempt gravity. Situation to be at offending elsewhere distrusts if.</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End of faq inner area -->
                                </div>
                                <div class="tab-pane fade" id="revc" role="tabpanel" aria-labelledby="nav-revc-tab">
                                    <div class="review-author-wrap">
                                        <!-- review author -->
                                    <div class="review-author-inner">
                                        <ul class="author-list mb-0 list-unstyled">
                                            <li class="media align-items-center">
                                                <div class="review-author-image">
                                                    <img th:src="@{customer/assets/img/shop/author1.jpg}" data-rjs="2" alt="">
                                                </div>
                                                <div class="review-author-details flex-1 media-body">
                                                    <h6>Arnold Mckenzie</h6>
                                                    <!-- star reating -->
                                                    <div class="product-rating">
                                                        <div class="star-rating">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                    <!--End of star reating -->
                                                    <p>We denounce with righteous so distrusts pronounce.</p>
                                                </div>
                                            </li>
                                            <li class="media align-items-center">
                                                <div class="review-author-image">
                                                    <img th:src="@{customer/assets/img/shop/author2.jpg}" data-rjs="2" alt="">
                                                </div>
                                                <div class="review-author-details flex-1 media-body">
                                                    <h6>Kendra Ratzlaff</h6>
                                                    <!-- star reating -->
                                                    <div class="product-rating">
                                                        <div class="star-rating">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                    <!--End of star reating -->
                                                    <p>On the other hand, we denounce with righteous so distrusts pronounce. how<br>marianne graceful dissuade..</p>
                                                </div>
                                            </li>
                                            <li class="media align-items-center">
                                                <div class="review-author-image">
                                                    <img th:src="@{customer/assets/img/shop/author3.jpg}" data-rjs="2" alt="">
                                                </div>
                                                <div class="review-author-details flex-1 media-body">
                                                    <h6>Beulah Ross</h6>
                                                    <!-- star reating -->
                                                    <div class="product-rating">
                                                        <div class="star-rating">
                                                            <span></span>
                                                        </div>
                                                    </div>
                                                    <!--End of star reating -->
                                                    <p>We denounce with righteous so distrusts pronounce.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End of review author -->

                                    <!-- review author comment -->
                                    <div class="review-author-comment">
                                        <div class="review-comment-heading">
                                            <h4>Add a Review</h4>
                                        </div>
                                        <h6 class="lato">Rate It:</h6>
                                        <!-- star reating -->
                                        <div class="product-rating">
                                            <div class="star-rating">
                                                <span></span>
                                            </div>
                                        </div>
                                        <!--End of star reating -->

                                        <!-- comment input field -->
                                        <div class="comment-respond form-relative">
                                              <form action="#" method="POST">
                                                  <input type="text" placeholder="Your Comment" required class="theme-input-style">
                                                  <button class="btn btn-fill-type">Submit</button>
                                              </form>  
                                        </div>
                                        <!--End of comment input field -->
                                       
                                    </div>
                                    <!-- End of review author comment -->
                                    </div>
                                </div>
                            </div>
                            <!--End of product details tab Contaent-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!--kinen related products heading -->
                    <div class="related-product-heading text-center">
                        <h2>Related Products</h2>
                    </div>
                    <!--End of kinen related products heading -->
                </div>
                <div class="col-sm-6 col-12 col-lg-3">
                    <!-- single product -->
                    <div class="single-product">
                        <div class="product-item">
                            <div class="product-thumb">
                                <!-- Product Image -->
                                <div class="product-image">
                                    <a href="#">
                                        <img class='normal-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1.jpg}" alt="">
                                        <img class='hover-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1b.jpg}" alt="">
                                     </a>
                                </div>
                                <!-- End of Product Image -->

                                <!-- product button -->
                                <div class="product-buttons">
                                    <div class="quick-btn">
                                        <div class="quick-icon-btn">
                                            <a href="#" class="quick_view">
                                                <span class="product-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <span class="icon-title">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="addto-cart-btn">
                                        <div class="addto-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/add-bag.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">Add To Cart</span>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="wishlist-btn">
                                        <div class="wishlist-icon-btn">
                                            <a href="#">
                                            <span class="product-icon"><img th:src="@{customer/assets/img/icons/wishlist.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">See Wish List</span>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- End of product button -->

                                <!-- product title -->
                                <div class="product-title">
                                    <h4><a href="product-details.html">Woven Throw Pillow</a></h4>
                                </div>
                                <!-- end of product title -->
                            </div>

                            <!-- product info -->
                            <div class="product-info">
                                <div class="product-price"><h5>$30.1</h5></div>
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                             <!-- End of product info -->
                        </div>
                    </div>
                    <!-- End of single product -->
                </div>
                <div class="col-sm-6 col-12 col-lg-3">
                    <!-- single product -->
                    <div class="single-product">
                        <div class="product-item">
                            <div class="product-thumb">
                                <!-- Product Image -->
                                <div class="product-image">
                                    <a href="#">
                                        <img class='normal-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1.jpg}" alt="">
                                        <img class='hover-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1b.jpg}" alt="">
                                    </a>
                                </div>
                                <!-- End of Product Image -->

                                <!-- product button -->
                                <div class="product-buttons">
                                    <div class="quick-btn">
                                        <div class="quick-icon-btn">
                                            <a href="#" class="quick_view">
                                                <span class="product-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <span class="icon-title">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="addto-cart-btn">
                                        <div class="addto-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/add-bag.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">Add To Cart</span>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="wishlist-btn">
                                        <div class="wishlist-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/wishlist.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">See Wish List</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <!-- End of product button -->

                                <!-- product title -->
                                <div class="product-title">
                                    <h4><a href="product-details.html">Woven Throw Pillow</a></h4>
                                </div>
                                <!-- end of product title -->
                            </div>

                            <!-- product info -->
                            <div class="product-info">
                                <div class="product-price"><h5>$30.1</h5></div>
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End of product info -->
                        </div>
                    </div>
                    <!-- End of single product -->
                </div>
                <div class="col-sm-6 col-12 col-lg-3">
                    <!-- single product -->
                    <div class="single-product">
                        <div class="product-item">
                            <div class="product-thumb">
                                <!-- Product Image -->
                                <div class="product-image">
                                    <a href="#">
                                        <img class='normal-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1.jpg}" alt="">
                                        <img class='hover-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1b.jpg}" alt="">
                                    </a>
                                </div>
                                <!-- End of Product Image -->

                                <!-- product button -->
                                <div class="product-buttons">
                                    <div class="quick-btn">
                                        <div class="quick-icon-btn">
                                            <a href="#" class="quick_view">
                                                <span class="product-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <span class="icon-title">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="addto-cart-btn">
                                        <div class="addto-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/add-bag.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">Add To Cart</span>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="wishlist-btn">
                                        <div class="wishlist-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/wishlist.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">See Wish List</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <!-- End of product button -->

                                <!-- product title -->
                                <div class="product-title">
                                    <h4><a href="product-details.html">Woven Throw Pillow</a></h4>
                                </div>
                                <!-- end of product title -->
                            </div>

                            <!-- product info -->
                            <div class="product-info">
                                <div class="product-price"><h5>$30.1</h5></div>
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End of product info -->
                        </div>
                    </div>
                    <!-- End of single product -->
                </div>
                <div class="col-sm-6 col-12 col-lg-3">
                    <!-- single product -->
                    <div class="single-product">
                        <div class="product-item">
                            <div class="product-thumb">
                                <!-- Product Image -->
                                <div class="product-image">
                                    <a href="#">
                                        <img class='normal-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1.jpg}" alt="">
                                        <img class='hover-state' data-rjs="2" th:src="@{customer/assets/img/product/product-1b.jpg}" alt="">
                                    </a>
                                </div>
                                <!-- End of Product Image -->

                                <!-- product button -->
                                <div class="product-buttons">
                                    <div class="quick-btn">
                                        <div class="quick-icon-btn">
                                            <a href="#" class="quick_view">
                                                <span class="product-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                                <span class="icon-title">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="addto-cart-btn">
                                        <div class="addto-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/add-bag.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">Add To Cart</span>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="wishlist-btn">
                                        <div class="wishlist-icon-btn">
                                            <a href="#">
                                                <span class="product-icon"><img th:src="@{customer/assets/img/icons/wishlist.svg}" alt="" class="svg"></span>
                                                <span class="icon-title">See Wish List</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <!-- End of product button -->

                                <!-- product title -->
                                <div class="product-title">
                                    <h4><a href="product-details.html">Woven Throw Pillow</a></h4>
                                </div>
                                <!-- end of product title -->
                            </div>

                            <!-- product info -->
                            <div class="product-info">
                                <div class="product-price"><h5>$30.1</h5></div>
                                <div class="product-rating">
                                    <div class="star-rating">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End of product info -->
                        </div>
                    </div>
                    <!-- End of single product -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of product details wrapper -->

    <!-- footer area -->
    <div th:replace="~{customer/common/common :: footer}"></div>
    <!-- End of footer area -->
        
    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span>Back To Top</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>


    <!-- JS Files -->
    <th:block th:replace="~{customer/common/common :: script}"></th:block>
    
    </body>
</html>