<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common/common :: html_head(${pageTitle})}"></head>

<body>
    <!-- Preloader -->
    <div th:replace="~{common/common :: preLoader}"></div>

    <!-- Main header -->
    <header th:replace="~{common/common :: header}"></header>

    <!-- Catagory menu -->
    <div th:replace="~{common/common :: catagory-menu}"></div>

    <!-- offcanvas menu-->
    <th:block th:replace="~{common/common :: offcanvas_menu}"></th:block>

    <!-- page title -->
    <section class="page-title-inner" data-bg-img='assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">

                        <ul class="list-unstyled mb-0">
                            <li><a th:href="@{/}">Trang chủ</a></li>
                            <li class="active"><a href="#">Cửa hàng</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->
    
    <!-- product shop wrapper -->
    <section class="pt-100 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- shop toolbar wrap -->
                    <div class="shop-toolbar-wrap type2">
                        <div class="shop-toolbar-filter">
                            <div class="row align-items-center">
                                <div class="col-md-4 position-static">
                                    <div class="search-form position-relative search-page">
                                        <form th:action="@{/search}"  method="get">
                                            <input type="search" name="keyword"  th:value="${searchKeyword}" placeholder="Những gì bạn đang tìm kiếm" class="theme-input-style" required>
                                            <button type="submit"><img th:src="@{/assets/img/icons/search-button3.svg}" class="svg" alt=""></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-7 col-xl-6 offset-xl-2 offset-lg-1 position-static">
                                    <!-- product filter inner -->
                                    <div class="product-filter-inner">
                                        <!-- product found -->
                                        <div class="product-found product-count"  th:if="${totalItems > 0}">
                                            <span>Hiển thị : [[${endCount}]] trên tổng [[${totalItems}]] sản phẩm  </span>
                                        </div>
                                        <div class="product-found product-count"  th:unless="${totalItems > 0}">
                                            <span>Không tìm thấy sản phẩm  </span>
                                        </div>

                                        <!-- sort by newest -->
                                        <div class="newest-product">
                                            <a href="#" id="dropdownnewest" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-sort-amount-desc"></i><span>Sort by <span class="sort-by"></span></span><i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="newest-product-option dropdown-menu-right dropdown-menu" aria-labelledby="dropdownnewest">
                                                <li><a href="#" onclick="sortProducts('createdTime', 'desc')">mới nhất</a></li>
                                                <li><a href="#" onclick="sortProducts('price', 'asc')">Giá: thấp tới cao</a></li>
                                                <li><a href="#" onclick="sortProducts('price', 'desc')">Giá: cao tới thấp</a></li>
                                            </ul>
                                        </div>

                                        <!-- End of product grid view -->
                                    </div>
                                    <!-- product filter inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of shop toolbar wrap -->

                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content shop-tab-content">
                                <div class="tab-pane fade show active" role="tabpanel" id="fourcol" aria-labelledby="nav-four-col">
                                    <div class="row">
                                        <th:block th:each="product : ${listProducts}">
                                            <div th:replace="~{product/fragment :: content}"></div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page pagination -->
                    <div class="row">
                        <div class="col-12">
                            <div th:if="${totalPages > 1}">
                                <!-- blog pagination -->
                                <div class="blog-pagination-wrap">
                                    <ul class="pagination blog-pagination list-unstyled">
                                        <li th:class="${totalPages > 1  ? '' : ' disabled'}">
                                            <a  th:href="@{'/shop'+'/page/'
                                            + ${totalPages -1}
                                            +'?sortField='+${sortField}
                                            +'&sortDir=' +${sortDir}
                                            +${keyword != null ? '&keyword=' + keyword : ' '} }" aria-label="Previous">
                                                <i class="fa fa-angle-left">
                                                </i>
                                            </a>

                                        </li>

                                        <li th:class="${currentPage != i ? '' : 'active'}"
                                            th:each="i : ${#numbers.sequence(1, totalPages)}">
                                            <a  th:href="@{'/shop'+'/page/'+ ${i} +'?sortField='+${sortField} +'&sortDir=' +${sortDir} +${keyword != null ? '&keyword=' + keyword : ' '}}">[[${i}]]</a>
                                        </li>

                                        <li th:class="${currentPage < totalPages ? '' : 'disabled'}" >
                                            <a th:href="@{'/shop'+'/page/'+ ${currentPage + 1 }+'?sortField='+${sortField} +'&sortDir=' +${sortDir} +${keyword != null ? '&keyword=' + keyword : ' '}}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li th:class="${currentPage < totalPages ? '' : ' disabled'}">
                                            <a  th:href="@{'/shop'+'/page/'+ ${totalPages}+'?sortField='+${sortField} +'&sortDir=' +${sortDir}}" aria-label="Next">
                                                <i class="fa fa-angle-right">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End of blog pagination -->
                            </div>
                        </div>
                    </div>
                    <!-- Page pagination -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of product shop wrapper -->

    <!-- footer area -->
    <div th:replace="~{common/common :: footer}"></div>
    <!-- End of footer area -->
    
    <!-- back to top -->
    <div class="back-to-top">
        <a href="#">
            <div class="back-toop-tooltip"><span>Back To Top</span></div>
            <div class="top-array"></div>
            <div class="top-line"></div>
        </a>
    </div>
    <script type="text/javascript">
        function sortProducts(sortField, sortDir) {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('sortField', sortField);
            urlParams.set('sortDir', sortDir);
            window.location.search = urlParams.toString();
        }
    </script>
    <!-- JS Files -->
    <th:block th:replace="~{common/common :: script}"></th:block>
    </body>
</html>